.container {
  width: auto;
  padding-top: 20px;
}
.container .img-inicio img {
  height: 500px;
  margin-bottom: 20px;
}
.container h1 {
  font-family: "Rancho";
  font-size: 45px;
  color: #D5BDAF;
  margin-bottom: 30px;
  text-align: center;
}
.container p {
  font-size: 20px;
  color: #D5BDAF;
  text-align: center;
}
.container label {
  font-family: "Arsenal", sans-serif;
  color: #D5BDAF;
  font-size: 20px;
  font-weight: bolder;
}
.container input {
  border: 1px solid #D5BDAF;
}
.container textarea {
  border: 1px solid #D5BDAF;
}
.container .boton-enviar {
  width: 140px;
  height: 40px;
  background-color: #D5BDAF;
  color: white;
  font-family: "Arsenal", sans-serif;
  font-size: 17px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-color: white;
}
.container .boton-enviar:hover {
  background-color: #af9281;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  margin: 15px;
  text-align: center;
}
.contenedor h1 {
  font-family: "Rancho";
  color: #D5BDAF;
  font-size: 50px;
  margin-bottom: 25px;
}
.contenedor img {
  width: 320px;
  height: 320px;
  margin-bottom: 10px;
}
.contenedor a {
  font-family: "Arsenal", sans-serif;
  background-color: #D5BDAF;
  border: #D5BDAF;
  padding: 5px 50px;
  margin-top: 5px;
  margin-bottom: 25px;
}
.contenedor a:hover {
  background-color: #af9281;
}
.contenedor h2 {
  font-family: "Arsenal", sans-serif;
  color: #D5BDAF;
  font-size: 30px;
}

.mayorista {
  margin: 30px 0px;
}
.mayorista h2 {
  color: #D5BDAF;
  font-family: "Arsenal", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}
.mayorista li {
  list-style: none;
  font-family: "Arsenal", sans-serif;
  color: #D5BDAF;
  font-size: 20px;
  padding: 5px;
}

hr {
  color: #D5BDAF;
}

.imagen-somos img {
  width: 300px;
  height: 300px;
  margin: 10px 30px;
}

.navegador {
  background-color: #D5BDAF;
  width: auto;
  height: 70px;
}
.navegador nav {
  padding: 0px;
}
.navegador button {
  border-color: white;
}
.navegador button:hover {
  color: white;
}
.navegador div {
  background-color: #D5BDAF;
}
.navegador p {
  font-family: "Rancho";
  font-size: 35px;
  color: white;
  padding-top: 8px;
  padding-left: 20px;
}
.navegador a {
  font-family: "Arsenal", sans-serif;
  color: white;
  font-weight: bold;
}
.navegador a:hover {
  color: #af9281;
}
.navegador li {
  padding-left: 20px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media screen and (max-width: 992px) {
  .navegador p {
    width: 90%;
  }
  .imagen-somos img {
    width: 250px;
    height: 250px;
    margin: 15px;
  }
}
@media screen and (max-width: 600px) {
  .navegador p {
    width: 80%;
  }
  .imagen-somos img {
    width: 250px;
    height: 250px;
    margin: 10px;
  }
  .container .img-inicio img {
    height: 200px;
    margin-bottom: 10px;
  }
  .contenedor img {
    width: 250px;
    height: 250px;
  }
  .contenedor h1 {
    font-size: 40px;
  }
}
/* @include sizes(250px, 250px);*/
.footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
}
.footer h3 {
  font-family: "Rancho";
  font-size: 20px;
  color: #D5BDAF;
  text-align: center;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
