.footer {
    h3 {
        font-family: $tipografia-principal;
        font-size: ($fuente);
        color: $color-primario;
        text-align: center;
        margin-top: ($margin);
    }
} 

hr {
    color: $color-primario;

}
