.articulos  {
   display: flex;
   flex-direction: column;

    h1 {
       font-family: $tipografia-principal;
       color: $color-primario;
       font-size: calc($fuente*2)+10;
       text-align: center;
       margin-top: calc($margin*2)+5;
       margin-bottom: calc($margin*2)+5;
    }
    p{
           font-family: $tipografia-secundaria;
           color:$color-primario;
           font-size: calc($fuente)-2;
           text-align: center;
           margin-left: calc($margin*3);
           margin-right: calc($margin*3);
           
    }
    .productos-container {
      margin: 20px;
    }
    .producto {
        text-align: center;
        img {          
           height: 320px;
           padding: calc($padding*2);
           margin-top: $margin;
           margin-bottom: $margin;           
        }      
        h2 { 
           font-family: $tipografia-secundaria;
           font-weight: bolder;
           color: $color-terciario;
           font-size: calc($fuente)+5;
           text-align: center;
        }
        p {
           font-family: $tipografia-secundaria;
           font-weight: bolder;
           color:$color-primario;
           font-size: ($fuente);
           text-align: center;
        }
    }
}

.boton-categorias a {
   font-family: $tipografia-secundaria;
   color: $color-secundario;
   
 }
 .boton-categorias a:hover {
 background-color: $color-terciario;
 color: $color-secundario;
 }
  
  
  
   