.mantas  {
   display: flex;
   flex-direction: column;
   
    h1 {
       font-family: "Rancho";
       color: #D5BDAF;
       font-size: 50px;
       text-align: center;
       margin: 25px 0px;
    }
    p{
           font-family: "Arsenal", sans-serif;
           color:#D5BDAF;
           font-size: 20px;
           text-align: center;
           
    }
    .productos-container {
      margin: 10px;
    }
    .producto {
        text-align: center;
        img {          
           height: 320px;
           padding: 30px;
           margin: 10px 0px;           
        }      
        h2 { 
           font-family: "Arsenal", sans-serif;
           font-weight: bolder;
           color: #bca394;
           font-size: 25px;
           text-align: center;
        }
        p {
           font-family: "Arsenal", sans-serif;
           font-weight: bolder;
           color:#D5BDAF;
           font-size: 20px;
           text-align: center;
        }
    }
}

.boton-categorias a {
   font-family: "Arsenal", sans-serif;
   color: white;
   
 }
 .boton-categorias a:hover {
 background-color: #af9281;
 color: white;
 }
  
  
  
   