
$color-primario: #D5BDAF;
$color-secundario: white; 
$color-terciario: #af9281;

.navegador {
    background-color: $color-primario;
    width: auto;
    height: 80px;
   

    nav {
        padding: 0px;

    }
    div {
        background-color: $color-primario;    

     } 
        
     p {
        font-family:  'Rancho';
        font-size: 35px;
        color: $color-secundario;
        padding-top: 8px;
        padding-left: 20px;
    
    }

    a {
        font-family: 'Arsenal', sans-serif;
        color: $color-secundario;
        font-weight: bold;
        &:hover {
            color: $color-terciario;
        }
     }
 
     li {
         padding-left: 20px;
        
    }
}

.navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.container {
    width: auto;
    padding-top: 20px;

    .img-inicio img {
        height: 500px;
        margin-bottom: 20px;
              
    }

    h1 {
        font-family: 'Rancho';
        font-size: 45px;
        color: $color-primario;
        margin-bottom: 30px;
        text-align: center;  
       
    }

    p {
        font-size: 20px;
        color: $color-primario;
        text-align: center;
        padding: 0px 50px;      
    }

    label {
       font-family: 'Arsenal', sans-serif;
       color:$color-primario;
       font-size: 20px;
       font-weight: bolder;
    }

       input {
        border: 1px solid $color-primario;
        
    }

    textarea {
        border: 1px solid $color-primario;
    }

    .boton-enviar {
        background-color: $color-primario;
        color: $color-secundario;
        font-family: 'Arsenal', sans-serif;
        font-size: 17px;
        text-align: center;
        width: 100px;
        height: 30px;
        padding: 4px;
        margin-top: 5px;
        margin-bottom: 15px;
        border-color: $color-secundario;
        &:hover {
            background-color: $color-terciario;
        }
       
    }
}

.footer {

    h3 {
        font-family: 'Rancho';
        font-size: 20px;
        color: $color-primario;
        text-align: center;
        margin-top: 10px;
    }
}  

.contenedor {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    margin: 15px;
    text-align: center;

    h1 {
        font-family: 'Rancho';
        color: $color-primario;
        font-size: 50px;
        margin-bottom: 25px;
               
    }

    img {
        width: 20rem;
        height: 320px;
        margin-bottom: 10px;
    }

    a {
        font-family: 'Arsenal', sans-serif;
        background-color: $color-primario;
        border: $color-primario;
        padding: 5px 50px;
        margin-top: 5px;
        margin-bottom: 25px;
        &:hover {
            background-color: $color-terciario;
        }
    }

    h2 {
        font-family: 'Arsenal', sans-serif;
        color: $color-primario;
        font-size: 30px;
        
    }
}

.mayorista {
    margin: 30px 0px;

    li {
        list-style: none;
        font-family: 'Arsenal', sans-serif;
        color:$color-primario;
        font-size: 20px;
        padding: 5px;
        
        }
    
}


hr {
    color: $color-primario;
}

 
.imagen-somos img {
    width: 250px;
    height: 250px;
    margin: 20px;
}


